#panel {
    width: 400px;
    padding: 15px;
    text-align: center;
    display: none;
}

.invalid-feedback {

    padding: 5px;

}


.form-elements{
    background-color: #3e1010;
    background-clip: border-box;
    border-style: solid;
    border-color: #ffc107;
    border-radius: 1rem;
    font-family: 'Cinzel', serif;
    color: #ffc107;
}


.form-control, .custom-select{

    border: #4a1717;
    border-style: solid;
    border-radius: 0.5rem;
}

.row-copy {
    text-align: center;
}
